header{
    background-color: black;
    padding: 20px;
}
body{
    background-color: #141414 !important;
    margin: 0 auto;
}
footer{
    background-color: black;
    padding: 20px;
}
canvas{
    display: block;
    border: white 1px solid;
}

.noselect {
    user-select: none;
}